<%= link_to "New contact", new_contact_path %>

<div class="row">
    <% @contacts.each do |c|%>

        <div class="col-sm-6 col-md-4">

              
            <div class="caption">
            	<ul>
            		<li><b><%= c.name %></b>, <%= c.address %></li>
            	</ul>                
                
            </div>                                   
              
           
        </div>

    <% end %>
</div>